<!DOCTYPE html>
<html>
  <head>
    <title>Business tracker</title>
  </head>
  <body>
    <h1>Business tracker for Pretzel Boys of Drexel Hill</h1>
    <div class="buttons">
      <form action="https://businesstracker.llaamaguy.repl.co/data" method="post">
        <input type="submit" name="customer" value="customer">
      </form>
      <br>
      <form action="https://businesstracker.llaamaguy.repl.co/clear" method="post">
        <input type="submit" name="clear" value="clear data">
      </form>
      <br>
      <form action="https://businesstracker.llaamaguy.repl.co/save" method="post">
        <input type="submit" name="save" value="save and clear data">
      </form>
    </div>
  </body>
</html>